<% include ../partials/header %>

<div id="search-div">
    <h1>Search Books</h1>
    <form id="search-form" action="/books/find" method="GET">
        <div class="ui search">
            <div class="ui input">
                <input class="prompt" placeholder="Title" type="text" name="bookName">
            </div>
            <button class="circular ui icon button" id="search-button"><i class="icon search"></i></button>
        </div>    
    </form>
</div>

<div class="ui three column grid" id="results"></div>
    <% data.forEach(function(book) { %>
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <% if(book.volumeInfo.imageLinks) { %>
                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>">                
                    <% } %>                
                </div>
                <div class="content">
                    <%  %>
                    <a class="header" href="/books/new/<%= book.id %>"><p><%= book.volumeInfo.title %></p></a>
                    <div class="meta">                   
                        <span>
                            <% if(book.volumeInfo.authors){ %>
                                <% for(var i = 0; i < book.volumeInfo.authors.length; i++){ %>
                                <p><%= book.volumeInfo.authors[i] %></p>        
                                <% } %>
                            <% } %>
                        </span>                  
                    </div>
                    <div class="description">
                        <p><%= book.volumeInfo.description %></p>
                    </div>
                    <div class="extra">
                        <%= book.volumeInfo.publisher %>
                    </div>
                </div>
            </div>        
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>